body {
  margin: 0;
  padding: 0;
  background-image: url(./img/todo\img.png);
  height: auto;
}

.todoapp {
  /* background-color: rgb(255, 255, 255); */
  height: 600px;
  width: 506px;
  text-align: center;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 12%);
}

.text {
     width: 300px;
     height: 35px;
     font-size: 20px;
}

.text-alling{
    padding-top: 19px;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(49px, -281px);
    left: 50px;
    height: 122px;
    right: 50px;
    background-color: #0000000f;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 1px 4px #00000066;
    
}
input::placeholder {
   color: #000;
    font-size: 15px;
    opacity: 75%;
    padding-left: 10px;
   
}
.button{
    width: 50px;
    height:40px ;
    margin-left: 5px;
    cursor: pointer;

}
ul{
  
  width: 80%;
    text-align: left;
    transform: translate(11px, -268px);
}
ul li{
    list-style: none;
    color: #fff;
    padding: 9px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    background-color:rgb(0 0 0 / 10%);
    
    margin-top: 15px;
    box-shadow: 0 4px 6px #00000066;
    display: flex;
    align-items: center;
   
}
i{
    text-align: right;
    flex: 1;
    cursor: pointer;
    
}
.checkbox{
  height: 20px;
  width: 30px;
}
.show-his{
height: 300px;
width: 435px;
background-color: #ffffff30;

left: 50px;
transform: translate(232%, 57%);
}

.show-text{
  padding-top: 10px ;
      margin: 0;
      text-align: start;
      padding-left: 10px;
      font-size: 20px;
  }
  .todoapp-head{
    transform: translate(44%, -214px);
  }
  